<head>
	<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
	<script src="dist/index.js">

	</script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<style>
		body, th, td {
			font-family: calibri, sans-serif;
		}
		th.sortable:hover {
			background-color: #DDD;
		}
		tr.cancelled td {
			text-decoration: line-through;
			color: #888;
		}
	</style>
</head>
<body>
	<div id="root">
		<div v-if="!user">
			<button @click="login">
				Login
			</button>
		</div>
		<div v-else>
			Logged in as {{user.email}}
			<button @click="logout">
				Logout
			</button>
		</div>

		<div>
			<h2>Date Range</h2>
			<button class="btn btn-primary" :class="{active: dateRangeType == 'future'}"
				@click="dateRangeType = 'future'">
				Future
			</button>
			<button class="btn btn-primary" :class="{active: dateRangeType == 'custom'}"
				@click="dateRangeType = 'custom'">
				Custom
			</button>
			<date-picker :month="now" :today="now" :disabled="dateRangeType !== 'custom'"
				@daterange_changed="updateDateRange"></date-picker>
		</div>

		<table class="table table-striped">
			<thead><tr>
				<th class="sortable" :class="{active: orderBy == 'createdAt'}" @click="toggleOrder('createdAt')">Created At</th>
				<th class="sortable" :class="{active: orderBy == 'pickupTime'}" @click="toggleOrder('pickupTime')">Pickup Time</th>
				<th>Patient Details</th>

				<th>Pickup Location</th>
				<th>Drop-off Location</th>
				<th>One/Two-Way</th>
				<th>Wheelchair Stretcher</th>
				<th>Oxygen Rate</th>
				<th>Patient Weight</th>

				<th>Contact Person &amp; Details </th>

				<th>Precautions</th>

				<th>Accompanying Passengers</th>
				<th>Appointment Time</th>
				<th>Cancel</th>
				<!-- <th>Reply</th> -->

			</tr></thead>
			<tbody>
				<tr v-for="booking in sortedBookings"
				:class="{cancelled: booking.cancelled}">
				<td :title="formatTime(booking.createdAt)">{{formatTimePast(booking.createdAt, now)}} ago</td>
				<td>{{booking.pickupTime | formatTime}}</td>
				<td>{{booking.patientName}},<br>
					{{booking.patientGender}}
					({{booking.patientNric}})</td>

				<td>{{booking.pickupLocation}}</td>
				<td>{{booking.dropoffLocation}}</td>
				<td>{{booking.twoWay}}</td>
				<td>{{booking.wheelchairStretcher}}</td>
				<td>{{booking.oxygenRate}}</td>
				<td>{{booking.patientWeight}}</td>

				<td>{{booking.contactPerson}}
				{{booking.contactPhone}}
				{{booking.contactEmail}}</td>

				<td>{{booking.precautions}}</td>

				<td>{{booking.accompanyingPassengers}}</td>
				<td>{{booking.appointmentTime}}</td>

				<td><label><input type="checkbox"
				@change="cancel($event,booking)"
				:checked="booking.cancelled">Cancelled</label></td>

				<!-- <td><button @click="reply(booking)"> -->
				<!-- reply
				</button></td> -->

			</tr></tbody>
		</table>
		<reply-dialogue :open="replyDialogueOpen"
			:booking="currentBooking"
			@close="replyDialogueOpen=false"></reply-dialogue>



	</div>
</body>
